/* parte escrita pelo Lucas*/

body{
    background-color: #bd7100;
}

nav {
background-color: #333;
padding: 1.5rem;
}

nav ul {
list-style: none;
display: flex;
gap: 2rem;
margin: 0;
padding: 0;
}

nav ul li {
display: inline;
}

nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
font-size: 1.2rem;
}

nav li :hover {
background-color: #615f5f;
}

body {
font-family: Arial, sans-serif;
font-size: 1.1rem;
line-height: 1.6;
margin: 0;
padding: 0;
}

section {
padding: 2rem;
max-width: 1200px;
margin: 0 auto;
}

h2,
h3 {
font-size: 2rem;
margin-bottom: 1.5rem;
}

p {
font-size: 1.2rem;
margin-bottom: 1.5rem;
}

/* alterado para classe, para ser usado apenas quando necessário*/
.format_img {
max-width: 20%;
height: 20%;
border-radius: 8px;
margin-bottom: 1.5rem;
}

ul {
font-size: 1.2rem;
line-height: 1.6;
}

ul li {
margin-bottom: 0.8rem;
}

/* parte escrita pelo Kauã*/

.container_banner {
    display: flex;                               /* Usado para alinhar itens internos */
    flex-direction: column;                      /* Organiza os itens em coluna */
    justify-content: center;                     /* Centraliza verticalmente */
    align-items: center;                         /* Centraliza horizontalmente */
    text-align: center;                          /* Centraliza o texto dentro do contêiner */
    height: 100%;                                /* Faz o contêiner ocupar toda a altura da tela */
    background-image: url('tapete_banner.jpeg'); /* Caminho para a imagem de fundo */
    background-size: cover;                      /* Ajusta a imagem para cobrir todo o contêiner */
    background-position: center;                 /* Centraliza a imagem */
    background-repeat: no-repeat;                /* Evita que a imagem se repita */
    color: white;                              /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra no texto para melhorar a legibilidade */
}

.artigo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

}


.artigo_filho{
    border-style: solid;
    border-color: #886933;
    align-self: auto;
}   

.container_alinhar {
    display: flex;
}

.caixinha {
    border: #886933;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #886933;
}

